.fa-solid{
    color: rgb(31, 33, 56);
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    height: 100vh;
    max-width: 250px;
    background: rgb(223, 222, 222);
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #bbbaba;
    gap: 20px;
}