.hero{
    height: 100vh;
    background: white;
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 0.3;
}

.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    font-size: 50px;
    font-weight: 700;
}

.hero-new button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Poppins;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: rgb(46, 84, 98);
    color: white;
    font-size: 22px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img{
    width: 600px;
    height: 500px;
}

@media(max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-new button{
        gap: 10px;
        width: 250px;
        margin-top: 20px;
        font-size: 18px;
        height: 60px;
    }
    .hero-right img{
         width: 400px;
        height: 400px;
    }
}

@media(max-width:1024px){
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 30px;
    }
    .hero-new button{
        width: 220px;
        font-size: 16px;
        height: 50px;
    }
    .hero-right img{
         width: 300px;
         height: 300px;
    }
}

@media(max-width:800px){
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 20px;
    }
    .hero-new button{
        width: 175px;
        font-size: 13px;
        height: 40px;
    }
    .hero-right img{
         width: 200px;
         height: 200px;
    }
}

@media(max-width:500px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-new button{
        width: 200px;
        font-size: 18px;
        height: 55px;
    }
}