.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
    background: white;
}

.nav-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-logo{
    height: 50px;
    width: 50px;
}

.nav-profile{
    height: 50px;
    width: 50px;
}
.nav-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}